<div class="about-me">
	<div class="stackoverflow-profile">
		<a href="https://stackoverflow.com/users/68080/saeb-amini">
			<img src="https://stackoverflow.com/users/flair/68080.png" width="208" height="58" alt="profile for Saeb Amini at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Saeb Amini at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
		</a>
	</div>
	<p>
		I'm a seasoned software consultant and technologist based in Brisbane, Australia. I've been helping businesses win in the fast-paced tech world for almost two decades. With expertise in people leadership, software architecture and craftsmanship, the Microsoft ecosystem, C#, ASP.NET, and Azure, I team up with organisation leaders to bring cutting-edge solutions to life. My passion lies in making a positive impact through technology.
	</p>
	<p>
		Outside of my profession, you can catch me diving into hobbies like self-development, travelling, fitness, fishing, camping and (attempting) to play the flamenco guitar.
	</p>
	<div class="text-center">
		{% include svg-icons.html %}
	</div>
</div>