<div class="about-me">
	<div class="stackoverflow-profile">
		<a href="https://stackoverflow.com/users/68080/saeb-amini">
			<img src="https://stackoverflow.com/users/flair/68080.png" width="208" height="58"
				alt="profile for Saeb Amini at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
				title="profile for Saeb Amini at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
		</a>
	</div>
	<p>
		Saeb Amini is a software consultant, team and tech lead, C♯ and .NET aficionado, occasional public speaker,
		newbie
		gardener, camping enthusiast and <a
			href="https://www.scrum.org/certificates/211557">certified
			PSM I</a> based in Brisbane, AU. He's passionate about high-quality, maintainable code
		and good software craftsmanship and project management practices.
	</p>
	<p>
		Being a consultant exposes Saeb to a wide variety of challenges, both technical and
		non-technical, and results in diverse and invaluable learning. This blog's main purpose is to
		serve as a self-reminder of some of those learnings that he's found the time to write down, but if it happens to
		help you
		too, that's even better!
	</p>
	<p>
		Saeb is tired of talking about himself in the third person.
	</p>
	<div class="text-center">
		{% include svg-icons.html %}
	</div>
</div>
