<div class="about-me">
	<div class="stackoverflow-profile">
		<a href="https://stackoverflow.com/users/68080/saeb-amini">
			<img src="https://stackoverflow.com/users/flair/68080.png" width="208" height="58" alt="profile for Saeb Amini at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Saeb Amini at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
		</a>
	</div>
	<p>
		I'm a software consultant, tech lead, servant team lead, C♯ and .NET aficionado, occasional public speaker, gardener, camping enthusiast and <a href="https://www.scrum.org/certificates/211557">certified PSM I</a> based in Brisbane, AU.
		I'm passionate about making a positive impact through technology, good software craftsmanship practices and effective project management.
	</p>
	<p>
		Being a consultant exposes me to a wide variety of challenges, both technical and
		non-technical, and results in diverse and invaluable learning. This blog's main purpose is to
		serve as a self-reminder of some of those learnings that I've found the time to write down, but if it happens to
		help you too, that's even better!
	</p>
	<div class="text-center">
		{% include svg-icons.html %}
	</div>
</div>