<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% if page.title %}{{ page.title }} – {{ site.name }}{% else %} {{ site.name }} – {{ site.description }}{% endif %}</title>
	{% include meta.html %}

	<!--[if lt IE 9]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700">
</head>

<body>
	<div class="container-fluid">
		{% if page.isPost %}
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-7">
				<header class="masthead clearfix">
					<div class="site-info">
						<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
						<p class="site-description">{{ site.description }}</p>
					</div>
				</header>
			</div>
		</div>
		{% else %}
		<div class="row header-intro">
			<div class="col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-7">
				<h1 class="welcome-header">Hi, I'm <span>Saeb Amini</span></h1>
			</div>
		</div>
		{% endif %}
		<div class="row">
			{% unless page.isPost %}
			<div class="col-xs-10 col-xs-offset-1 col-md-offset-2 col-md-8 hidden-md hidden-lg page-about-me">
				{% include aboutme.html %}
			</div>
			{% endunless %}
			{% if page.isPost %}
			<div class="col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
			{% else %}
			<div class="col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-7">
			{% endif %}
				<div id="main" role="main">
					{{ content }}
				</div>
			</div>
			{% unless page.isPost %}
			<div class="col-sm-2 sidebar hidden-xs hidden-sm">
				{% include aboutme.html %}
			</div>
			{% endunless %}
		</div>
	</div>
	<div class="wrapper-footer">
		<div class="container">
			<footer class="footer">
				<a href="/feed.xml" class="feed-link">Atom Feed</a>
				<a href="/sitemap.xml" class="sitemap-link">Sitemap</a>
			</footer>
		</div>
	</div>
	{% include analytics.html %}
	<script id="dsq-count-scr" src="//saebamini.disqus.com/count.js" async></script>
</body>

</html>